<!-- <div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>'Allo, 'Allo <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div> -->

<!-- <img src="https://s3.amazonaws.com/theishapp/Original/dukes1.jpg">
<img src="https://s3.amazonaws.com/theishapp/Original/dukes2.jpg">
<img src="https://s3.amazonaws.com/theishapp/Original/dukes3.jpg">
<img src="https://s3.amazonaws.com/theishapp/Original/dukes4.jpg">
<img src="https://s3.amazonaws.com/theishapp/Original/dukes5.jpg">
 -->


<input type="file" ng-file-select="onFileSelect($files)">
<img src="https://s3.amazonaws.com/theishapp/s3UploadExample/1301%24dukes4.jpg">
<canvas style="border:1px solid #000000;" canvas-resize></canvas>

{{ image }}