<div ng-include="'partials/navbar'"></div>
<div class="container profile">
	<!-- Top -->
	<div class="row">
		<div class="col-xs-4 personal-details">
			<h1>Tiisetso Murray</h1>
			<hr>
			<div class="btn-group">
				<button type="button" class="btn btn-default">
				<i class="fa fa-google-plus"></i>
				</button>
				<button type="button" class="btn btn-default">
				<i class="fa fa-twitter"></i>
				</button>
				<button type="button" class="btn btn-default">
				<i class="fa fa-facebook-square"></i>
				</button>
			</div>
			<br>
			<br>
			<p><a href="http:\\www.google.com">www.we-are-awsome.com</a></p>
			<p><a href="http:\\www.google.com">www.tiisetsomurray.com</a></p>			
		</div>
		<div class="col-xs-4">
			<img src="https://s3.amazonaws.com/theishapp/Original/murray.jpg" alt="..." class="img-circle center-block profile-pic" style="border-color: #2ecc71">
		</div>
		<div class="col-xs-4">
			<h3 style="color: gray;">Foodie Lover</h3>
			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					<span class="sr-only">40% Complete (success)</span>
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
					<span class="sr-only">20% Complete</span>
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
					<span class="sr-only">60% Complete (warning)</span>
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
					<span class="sr-only">80% Complete</span>
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; background-color:#3498db;">
					<span class="sr-only">80% Complete</span>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Body -->
	<hr>
	<div class="row">
		<div class="col-xs-1">
		</div>
		<div class="col-xs-10">
			<!-- Favourites -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Favourites</h3>
				</div>
				<div class="panel-body">
					All Activities that are favourites
				</div>
			</div>
			<!-- Reviews -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Reviews</h3>
				</div>
				<div class="panel-body">
					My Reviews
				</div>
			</div>
			<!-- Discoveries -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Discoveries</h3>
				</div>
				<div class="panel-body">
					My Reviews
				</div>
			</div>
			<!-- Newsfeed -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Discoveries</h3>
				</div>
				<div class="panel-body">
					My Reviews
				</div>
			</div>
		</div>
		<div class="col-xs-1 action-bar">
			<button type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-search"></span>
			</button>
			<button type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-map-marker"></span>
			</button>
			<button type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
	</div>
	<div ng-include="'partials/footer'"></div>
	</div> <!-- end-container -->